{# database test rendering page #}
{# {% extends "base.html.twig" %}  to use base.html.twig as base #}
{% block title %}
    <h2>Page name: {{_self}}, charset: {{_charset}}</h2>
{% endblock %}

{% block body %}

{% if error %}
    <h1> ERROR: {{ error }} </h1>
{% else %}
    <div class="example-wrapper">
    {# conditional statement using % (remember spaces) #}
        {% if title %}
            <h1> Passed: {{ title }} </h1>

            {% for key, value in results %}
                Key : {{ key }}
                Value : {{ value }}
            {% endfor %}

        {% else %}
            <p>No parameter passed</p>
        {% endif %}
    </div>
 {% endif %}
{% endblock %}

