{# /templates/fiscal/code.html.twig #}
{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/FiscalCode.css" /> 
    <style> {# to change background color #}
        {% if valid == 'NULL' %}
            body {background-color: #101010;}
        {% elseif valid %}
            body {background-color: #16dd7a;}
        {% else  %}
             body {background-color: #d14b49;}
        {% endif %}
    </style>
{% endblock %}

{% block body %}

    <H1>Calcola il tuo codice fiscale!</H1>
    <div id="input_card">

            <div class="card_text">
                <p style="font-size: 1.5em; margin-right: 3px;">Calcolo Codice Fiscale </p>
                <p style="font-size: 1.0em; margin-right: 3px;">Calcola il codice fiscale online</p>
            </div>

        {% if (valid and valid != 'NULL') %}
            <H3>CODICE FISCALE:  {{ valid }} </H3>
        {% endif %}

        {#  Customizable {{ form(fiscal_form) }}   #}
        {{ form_start(fiscal_form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(fiscal_form) }}
            </div>

            <div class="row">
             {#  'attr': { 'class': 'control-label' } }): form.css for enlarge text box #}
                <div class="col">
                    {{ form_row(fiscal_form.surname, { 'attr': { 'class': 'control-label' } }) }}
                </div>
                <div class="col">
                    {{ form_row(fiscal_form.name, { 'attr': { 'class': 'control-label' } }) }}
                </div>
                <div class="col">
                    {{ form_row(fiscal_form.born_place, { 'attr': { 'class': 'control-label' } }) }}
                </div>
                <div class="col" id="multy_row_form">
                {% if help is defined %}    {# TODO? #}
                    <p class="help-block">{{ help }}</p>
                {% endif %}
                    {{ form_label(fiscal_form.province) }} 
                    {{ form_widget(fiscal_form.province, { 'attr': { 'class': 'half-box' } }) }}
                    {{ form_label(fiscal_form.gender) }} 
                    {{ form_widget(fiscal_form.gender, { 'attr': { 'style': 'margin-left: 1em;' }}) }}
                </div>
                <div class="col">
                    {{ form_row(fiscal_form.birth_day, { 'attr': { 'class': 'half-box' }}) }}
                </div>
                <div class="col" id="submit">
                    {{ form_row(fiscal_form.submit, { 'attr': { 'class': 'submit' }} ) }}
                </div>
                {{ form_rest(fiscal_form) }}   {#  autocomplete form   #}
            </div>
        {{ form_end(fiscal_form) }}
    
    </div>
    
{% endblock %}
