{# /templates/ball/ball.html.twig #}
{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/MovingBall.css" /> 
{% endblock %}

{% block javascripts %}
    {# TODO #}
    <script src="/js/ball.js"></script>
    <script>alertWorld("world!")</script>
{% endblock %}

{% block body %}
    <H1> Moving Ball Game </H1>
    <div> 
        {{ form_start(square_form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(square_form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(square_form.width) }} 
                    {{ form_widget(square_form.width, { 'attr': { 'style': 'margin-left: 12px;' }}) }}
                </div>
                <div class="col">
                    {{ form_label(square_form.height) }} 
                    {{ form_widget(square_form.height, { 'attr': { 'style': 'margin-left: 6px;' }}) }}
                    {{ form_label(square_form.submit) }} 
                    {{ form_widget(square_form.submit, { 'attr': { 'style': 'margin-left: 2em;' }}) }}
                </div>
                {{ form_rest(square_form) }}   {#  autocomplete form   #}
            </div>
        {{ form_end(square_form) }}
    <div id="box" class="square" style="width: {{square_width}}px; height: {{square_height}}px; ">
        <div id="ballDiv"  style="left: {{ball_left}}px; top: {{ball_top}}px"  >
             <img id='myBall' src={{ img }} /> 
        </div>
        <div id="obstacleDiv" style="left: {{obstacle_top}}px; top: {{obstacle_top}}px" >
            <img id='myObstacle' src={{obj}} /> 
        </div>
    </div>
    
    <div id='control' class='control'>
        <div>
        <!-- SPACE  -->
            <button type="submit" name="command" value="goUp" style="margin-bottom: 4px; margin-left: 170px;">
                <img src="/Img/arrow-up.jpeg" class='command' />
            </button>  
             <input type="hidden" id="custId" name="custId" value="3487">
        </div>
        <div>
            <button type="submit" name="command" value="goLeft">
                <img src="/Img/arrow-left.jpeg" class='command' /></button>
            <button type="submit" name="command" value="goDown" > 
                <img src="/Img/arrow-down.jpeg" class='command' /></button>
            <button type="submit" name="command" value="goRight">
                <img src="/Img/arrow-right.jpeg" class='command' /></button>  
        </div> 
        <div style="margin-top: 10px; padding: 4px;" > <!--Padding top-->
            <button type="submit" name="command" value="set_ball">
                <img src="/Img/ball.jpeg" class='command' /></button>
            <button type="submit" name="command" value="set_bowling_ball">
                <img src="/Img/bowling_ball.jpeg" class='command' /></button>
            <button type="submit" name="command" value="set_silver_ball">
                <img src="/Img/silver_ball.jpeg" class='command' /></button>
        </div> 
    </div>

    </div>

{% endblock %}